.wrapper {
    min-height: 100vh;
    background: url('Background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {

}

.header__container {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 50px; 
}
.social {
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style: none;
}

.social__item {

}

.social__link {
    
}

.header__logo img {
    width: 123px;
    height: 26px;
}

.burger__header {
    display: flex;
    flex-direction: column;
    width: 48px;
    height: 10px;
    gap: 6px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.burger__line {
    width: 48px;
    height: 2px;
    background: #FFFFFF;
}

.hero {

}

.hero__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero__span {
    margin-top: 150px;
    margin-left: 300px;
    max-width: 130px;
    max-height: 50px;
    background-color: rgba(28, 46, 61, 0.4);
    border-radius: 24px;
    border: none;
}

.text__span {
    padding: 15px;
    color: #FFFFFF;
    text-align: center;
}

.hero__title {
    max-width: 610px;
    max-height: 252px;
    font-size: 80px;
    font-weight: bold;
    color: #FFFFFF;
    padding-left: 300px;
}

.hero__subtitle {
    max-width: 500px;
    max-height: 60px;
    font-size: 14px;
    color: #FFFFFF;
    padding-left: 300px;
}

.hero__btn {
    max-width: 270px;
    max-height: 80px;
    margin-left: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: #E8594E;
    border: none;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
}